html body {
    margin: 0;
    font-family:verdana;
    overflow: hidden;
}

h1 {
    margin: 0;
}

#container {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#parent {
    height: 100vh;
    width: 100vw;
    background-color: rgb(81, 81, 85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#sidePanelParent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sidePanelTitle {
    background-color: #348211;
    height: 5vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 24px;
}

#sidePanel {
    background-color: #151515;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 0px 9px 0px #000000;
    z-index: 0;
}

#sidePanelContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#rightSide {
    background-color: #c1c1c1;
    width: 100%;
    height: 100%;
}

.device {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-bottom: 10px;
    cursor: pointer;

    background-color: rgb(212, 212, 212);
}

#activeState {
    font-size: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 125px;
}

#logger {
    background-color: #101013;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    box-shadow: -1px 0px 9px 0px #000000;
}

#detailsParent {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#detailsTitleContainer {
    padding-left: 30px;
    padding-top: 20px;
}

#detailsName {
    font-size: 50px;
}

#detailsIP {
    font-size: 25px
}

.detailsTitle {
    font-size: 50px;
    font-weight: 1000;
    margin: 0;
    text-align: center;
    padding: 10px;
    border-top: 1px rgb(8, 8, 8) solid;
    border-bottom: 1px black solid;
}

#name {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    font-size: 25px;
}

#name .deviceName {
    font-weight: 650;
}

#name .ip {
    font-size: 16px;
    color: rgb(54, 54, 54);
}

.dotContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 125px;
}

.dotContainer section {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
}

.active { background-color: green; }
.disabled { background-color: red; }

.show { display: flex; }
.hide { display: none; }

.errorLogMessage { color: #a80000; }